.fullItem {position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.8);
  z-index: 100;
  
  display: flex;
  justify-content: center; /* центрирование по горизонтали */
  align-items: center; /* центрирование по вертикали */
}


.fullItem > div {
  width: 30%;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden; /* Добавлено */
}

.fullItemBox {
  width: 50%;
  margin-bottom: 50px;
  background: #f3f3f3;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
  border-radius: 10px 10px 0 0;
}
img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.h2,
.p,
.b {
  margin: 10px 20px;
  color: #333;
}
.b {
  color: #5fa36a;
}

.img:hover {
  transform: scale(1.02);
}
.addToCart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease;
  font-weight: 600;
}
.addToCart:hover {
  background: #960c0c;
  transform: scale(1.1);
}