.Search {
  max-width: 360px;

  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  /* Card */
  box-shadow: 0px 4px 33px 0px rgba(0, 0, 0, 0.04);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SearchBox {
  padding: 32px;
}

.locationTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;

  text-align: left;
  margin-bottom: 7px;
}

.locationInput {
  width: 267px;

  height: 20px;
  border: 1px solid rgb(201, 202, 204);
  border-radius: 4px;

  background: rgb(255, 255, 255);
  padding: 14px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;

  text-align: left;
  color: rgb(66, 66, 66);
}
.calendarInputBox {
  position: relative;
}
.Btn {
  position: absolute;
  top: 16px;
  right: 15px;
  border: none;
  background-color: white;
  width: 24px;
  height: 24px;
  
}
.Btn:active *{
  fill: rgb(255, 0, 0);
  
}

.dateTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;

  text-align: left;
  padding-top: 16px;
  margin-bottom: 7px;
}

.dateInput {
  width: 267px;
  color: rgb(66, 66, 66);
  height: 20px;
  border: 1px solid rgb(201, 202, 204);
  border-radius: 4px;

  background: rgb(255, 255, 255);
  padding: 14px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;

  text-align: left;
}

.daysTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;

  text-align: left;
  margin-top: 20px;
  margin-bottom: 7px;
}

.daysInput {
  width: 267px;
  color: rgb(66, 66, 66);
  height: 20px;
  border: 1px solid rgb(201, 202, 204);
  border-radius: 4px;

  background: rgb(255, 255, 255);
  padding: 14px;
  margin-bottom: 47px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;

  text-align: left;
}

.searchButton {
  cursor: pointer;
  width: 47px;
  padding: 15px 124.5px 15px 124.5px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;

  text-align: center;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    164.39deg,
    rgb(65, 82, 46) -11.442%,
    rgb(190, 128, 34) 119.594%
  );
}
